appmonitor-client @ git+https://github.com/dbca-wa/appmonitor_client.git@a9754fcea1646e54e01d130de90cad776ac9d153 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.9.2 ; python_version >= "3.12" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "4.0"
babel==2.17.0 ; python_version >= "3.12" and python_version < "4.0"
boto3==1.40.38 ; python_version >= "3.12" and python_version < "4.0"
botocore==1.40.38 ; python_version >= "3.12" and python_version < "4.0"
cached-property==2.0.1 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.8.3 ; python_version >= "3.12" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.3 ; python_version >= "3.12" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
coverage==6.5.0 ; python_version >= "3.12" and python_version < "4.0"
coveralls==3.3.1 ; python_version >= "3.12" and python_version < "4.0"
dataflows-tabulator==1.54.3 ; python_version >= "3.12" and python_version < "4.0"
datapackage==1.15.4 ; python_version >= "3.12" and python_version < "4.0"
diff-match-patch==20241021 ; python_version >= "3.12" and python_version < "4.0"
dj-database-url==3.0.1 ; python_version >= "3.12" and python_version < "4.0"
dj-static==0.0.6 ; python_version >= "3.12" and python_version < "4.0"
django-braces==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
django-ckeditor-5~=0.2.20 ; python_version >= "3.12" and python_version < "4.0"
django-confy==1.0.4 ; python_version >= "3.12" and python_version < "4.0"
django-countries==7.6.1 ; python_version >= "3.12" and python_version < "4.0"
django-crispy-forms==2.4 ; python_version >= "3.12" and python_version < "4.0"
django-cron @ git+https://github.com/jorenham/django-cron.git@cec74656a6cada4c40fec43f46594bf332268ab1 ; python_version >= "3.12" and python_version < "4.0"
django-datatables-view==1.20.0 ; python_version >= "3.12" and python_version < "4.0"
django-dirtyfields==1.9.7 ; python_version >= "3.12" and python_version < "4.0"
django-dynamic-fixture==4.0.1 ; python_version >= "3.12" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.12" and python_version < "4.0"
django-extra-fields==3.0.2 ; python_version >= "3.12" and python_version < "4.0"
django-filter==25.1 ; python_version >= "3.12" and python_version < "4.0"
django-ical==1.9.2 ; python_version >= "3.12" and python_version < "4.0"
django-media-serv @ git+https://github.com/dbca-wa/django-media-serv.git@460821a8205c902b579a080e69fa3b3f67d5755c ; python_version >= "3.12" and python_version < "4.0"
django-multiselectfield==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
django-phonenumber-field==7.3.0 ; python_version >= "3.12" and python_version < "4.0"
django-preserialize @ git+https://github.com/xzzy/django-preserialize.git@dbf5755dba7c75264120fedbfac976777975879e ; python_version >= "3.12" and python_version < "4.0"
django-recurrence==1.11.1 ; python_version >= "3.12" and python_version < "4.0"
django-reset-migrations==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
django-reversion-compare==0.18.1 ; python_version >= "3.12" and python_version < "4.0"
django-reversion==6.0.0 ; python_version >= "3.12" and python_version < "4.0"
django-taggit==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
django-treebeard==4.7.1 ; python_version >= "3.12" and python_version < "4.0"
django-widget-tweaks==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
django5-six @ git+https://github.com/dbca-wa/django5-utils-six.git@cea09d14209de46156b50d7fb3c2bdf040d2dacb ; python_version >= "3.12" and python_version < "4.0"
django~=5.2.6 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework-csv==3.0.2 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework-datatables==0.7.2 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework-gis==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.16.1 ; python_version >= "3.12" and python_version < "4.0"
docopt==0.6.2 ; python_version >= "3.12" and python_version < "4.0"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
faker==12.0.1 ; python_version >= "3.12" and python_version < "4.0"
geojson==3.2.0 ; python_version >= "3.12" and python_version < "4.0"
greenlet==3.2.4 ; python_version >= "3.12" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==25.0.0 ; python_version >= "3.12" and python_version < "4.0"
icalendar==6.3.1 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
ijson==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
isodate==0.7.2 ; python_version >= "3.12" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
jsonlines==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
jsonpointer==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.12" and python_version < "4.0"
ledger-api-client @ git+https://github.com/dbca-wa/ledger_api_client.git; python_version >= "3.12" and python_version < "4.0"
linear-tsv==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
mixer==7.2.2 ; python_version >= "3.12" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.12" and python_version < "4.0"
phonenumbers==9.0.14 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
py4j==0.10.9.9 ; python_version >= "3.12" and python_version < "4.0"
pycountry==24.6.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-decouple==3.8 ; python_version >= "3.12" and python_version < "4.0"
pytz==2020.5 ; python_version >= "3.12" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.12" and python_version < "4.0"
reportlab==4.4.4 ; python_version >= "3.12" and python_version < "4.0"
requests~=2.33.1 ; python_version >= "3.12" and python_version < "4.0"
rfc3986==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
rich==14.1.0 ; python_version >= "3.12" and python_version < "4.0"
rpds-py==0.27.1 ; python_version >= "3.12" and python_version < "4.0"
s3transfer==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
setuptools~=80.9.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy==2.0.43 ; python_version >= "3.12" and python_version < "4.0"
sqlparse~=0.5.5 ; python_version >= "3.12" and python_version < "4.0"
static3==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
tableschema==1.21.0 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0"
unicodecsv==0.14.1 ; python_version >= "3.12" and python_version < "4.0"
urllib3~=2.6.3 ; python_version >= "3.12" and python_version < "4.0"
webtemplate-dbca @ git+https://github.com/dbca-wa/webtemplate2.git@59363b2ec5991a43ed51c14b75c3ae0bc588e53e ; python_version >= "3.12" and python_version < "4.0"
werkzeug~=3.1.6 ; python_version >= "3.12" and python_version < "4.0"
whitenoise==6.11.0 ; python_version >= "3.12" and python_version < "4.0"
xlrd==2.0.2 ; python_version >= "3.12" and python_version < "4.0"
xlsxwriter==3.2.9 ; python_version >= "3.12" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.12" and python_version < "4.0"
django-vite==3.1.0 ; python_version >= "3.12" and python_version < "4.0"
