{% extends "commercialoperator/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card card-body bg-light">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Success!</h2>
                    <strong>A confirmation email has been sent to {{ submitter }}.</strong>
                </div>
            </div>
            <br />
            {% if compliance and compliance.id %}
                <div>
                    <strong>Your compliance {{ compliance.lodgement_number }} has been successfully submitted.</strong>
                    <br />
                    <br />
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <strong>Compliance:</strong>
                                </td>
                                <td>
                                    <strong>{{ compliance.lodgement_number }}</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Date/Time:</strong>
                                </td>
                                <td>
                                    <strong>{{ compliance.lodgement_date }}</strong>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                    <br />
                    <label>
                        Please note ...
                        <br />
                        <br />
                        If there is any missing information, the Department may assign this compliance back to you to complete. In that case you will be notified by email.
                    </label>
                </div>
            {% else %}
                <div class="col-sm-6 borderDecoration offset-3">
                    <strong>Sorry it looks like there isn't any compliance currently in your session.</strong>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12 mt-3">
                {% if request.user == submitter or request.user.is_staff %}
                    {% if request.user.is_authenticated %}
                        <span>
                            <a href="{% url 'cols-invoice-compliance-pdf' fee_invoice.reference %}"
                               class="btn btn-info btn-lg"
                               target="_blank">Invoice</a>
                        </span>
                        <span class="float-end">
                            <a href="{% url 'external' %}" class="btn btn-info btn-lg">Return to Dashboard</a>
                        </span>
                    {% else %}
                        <a href="{% url 'home' %}" class="btn btn-info btn-lg">Log in</a>
                        <p>You must be logged in to see your invoice online.</p>
                    {% endif %}
                {% else %}
                    <p class="fs-4 fw-bold">
                        You do not have permission to access the confirmation or invoice for this booking.
                        <br>
                        Please check your email or contact COLS directly.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
